body {
  background-color: #0e0b16;
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  color: #ccc;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}

.js .js-tabcontent section {
  display: none;
}

.js-tabcontent section.ativo {
  display: block !important;
  animation: show 1s forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js .js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⬎";
  margin-left: 10px;
}

.js-accordion dt.ativo::after {
  content: "⬏";
}

.js-accordion dd.ativo {
  display: block;
  animation: slideDown 1s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 1s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
